@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
    width: 100;
	font-family: "Raleway", sans-serif;
	background: #EAFDFCff;
}

.container{
	margin: 30px;
    max-width: 1090px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	background: #EAFDFCff;
	position:relative;
	flex: 1;
	max-width: 600px;
	height: 400px;
	margin: 20px;
	overflow: hidden;
    
}

.image img{
	opacity: 0.4;
	position: relative;
	vertical-align: top;
	/* transition: 0.6s; */
	transition-property:none;
}

/* .image:hover img{
	opacity: 0.4;
} */

.image .details{
	z-index: 1;
	position: absolute;
    padding: 5px;
    font-weight: bolder;
	top: 0;
	right: 0;
	color: #000000;
	width: 100%;
	height: 100%;
    text-align: center;
  
}


/* .image .details p{
	margin: 30px 30px 0 30px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 0.8;
	transform: translateY(-40px);
} */

.more{
	position: absolute;
	background: #EAFDFCff(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* align-items:normal; */
    text-align: center;
	padding: 5px;
    font-weight: 900;
	bottom: 50px;
	/* transition: 0.6s; */
	transition-property: bottom;
}

.image::after .more{
	bottom: 50px;
}

.more .read-more{
	color: #000;
	text-decoration: none;
	font-size: 5px;
	text-transform: uppercase;
    text-align: center;
}

.more .read-more span{
	font-weight: 900;
}



/* Responsive CSS */

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 480px;
	}
}

@media (max-width: 400px){
	.image .details p{
		font-size: 5px;
	}

	.more .read-more, .more .icon-links a i{
		font-size: 5px;
	}
}
      