@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: #EAFDFCff;
}
.container{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .table{
  background: #EAFDFCff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.1); */
}
.table .features li{
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name{
  font-size: 17px;
  font-weight: 400;
}

.table .btn{
  width: 100%;
  display: flex;
  margin-top: 150px;
  justify-content:center;
}
.table .btn button{
  width: 80%;
  height: 50px;
  color: #EAFDFCff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table .btn button:hover{
  border-radius: 5px;
}

.premium .btn button{
  background: #FDEAEB;
}
.premium .btn button:hover{
  background: #c3f4fc;
  border-radius: 60px;

}

@media (max-width: 1020px) {
  .container .table{
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
@media (max-width: 698px) {
  .container .table{
    width: 100%;
  }
}